body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
}

header {
    background-color: #282828;
    padding: 20px;
    font-size: 1.5em;
}

button {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

#moviePoster {
    max-width: 300px;
    display: none;
}

#movieTrailer {
    width: 640px;
    height: 360px;
    display: none;
    margin: 20px auto; /* Centers the trailer */
}
.light-mode {
    background-color: white;
    color: black;
}
